/**************************
Body
************************ */
body {
  background-color: #0a0789 !important;
  color: #dbdde0 !important;
}
/**************************
Header
************************ */
.header {
  background-color: #0a0789;
  color: #dbdde0;
  padding: 15px;
  font-family: 'Architects Daughter', cursive;
}

.header-title {
  font-size: 50px;
}
/**************************
Header counter
************************ */
.counter {
  font-family: 'Ranga', cursive;
  display: flex;
}

.count {
  display: inline;
}
/**************************
Header image
************************ */
.dino {
  width: auto;
  height: 200px;
  margin-top: 20px;
}
/**************************
Text input
************************ */
.input-box {
  border-radius: 5px;
}
/**************************
Text output
************************ */
.para {
  background-color: #fff;
  color: #000;
  width: 100%;
  border-radius: 5px;
  height: 315px;
  text-align: left;
}
/**************************
API key input box
************************ */
.api-input {
  margin-top: 20px;
  color: #000;
}
/**************************
Footer
************************ */
.foot {
  text-align: center;
}
