

body {
  background-color: #0a0789 !important;
  color: #dbdde0 !important;

}

.header {
  background-color: #0a0789;
  color: #dbdde0;
  padding: 15px;
  font-family: 'Lora', serif;
}

.dino {
  width: 50%;
  height: 100px;
}
.input-box {
  border-radius: 5px;
}
.output {

}

.para {
  background-color: #fff;
  color: #000;
  width: 100%;
  border-radius: 5px;
  height: 327px;
  text-align: left;
}

p {
  padding: 10px;
}
h6 {
  margin: 10px;
}
.foot {
  text-align: center;
}
